<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page</title>
</head>
<body>
    <h1>Register Page</h1>
    <form action="/accounts/login/">
        <label for="">Name</label>
        <input type="text"> <br>
        <label for="">Username</label>
        <input type="text"> <br>
        <label for="">Email</label>
        <input type="email"><br>
        <label for="">Password</label>
        <input type="password"><br>
        <button>Register</button>
    </form>
    
</body>
</html>