{% extends 'base.html' %}

{% block content %}
<h1>Task List</h1>
<div class="task-btn"><a id="create-task" href="{% url 'task_create'  %}">Create Task</a></div>
{% for task in tasks %}
    <div> 
        <h3>{{task.title}}</h3>
        <p>{{task.description}}</p>
        <p>{{task.category}}</p>
        <p>{{task.due_date}}</p>
        <p>{{task.status}}</p>
        <a href="{% url 'update_task' task.id %}">update</a>
        <a href="{% url 'task_delete' task.id %}">delete</a>
    </div>
    <hr>
{% empty %}
    <h2>No Tasks available</h2>
{% endfor %}
{% endblock %}